SHEETS_PROXY_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
PROXY_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
CF_ACCESS_TEAM_DOMAIN=yourteam.cloudflareaccess.com
CF_ACCESS_AUD=your-access-application-aud
INGEST_SECRET=CHANGE_ME_TO_ANOTHER_LONG_RANDOM_SECRET
ALLOW_DEV_BYPASS=1
